.puzzleScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  padding: 20px; 
}

.passwordScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  max-height: 100vh;
  .turnLabel {
    color: white;
  }
} 

.actionArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}

.cardArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cardImage {
  transition: transform 1s ease-out;
  width: 100px;
  animation: Card 1s ease-out;
}

.description {
  text-align: center;
}

@keyframes Card {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

.cardImage:hover {
  transform: translateY(3vh);
}

p {
  color: white;
}
