/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.passwordScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #16161d; 
  color: white;
}

.passwordChecklist {
  margin: 20px;
}
.passwordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 50px;
}

label {
  font-size: 20px;
  margin: 10px 0;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  
  &:disabled {
    color: grey;
    opacity: 0.5;
    cursor: default;
  }
}
