body {
  background-color: #16161d;
}

label {
  font-size: 20px;
  margin: 10px 0;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;

  &:disabled {
    color: grey;
    opacity: 0.5;
    cursor: default;
  }
}

.passwordScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  max-height: 100vh;
  .turnLabel {
    color: white;
  }
}

.dropdown {
  max-height: 200px;
  overflow-y: auto;
  background: white;
  color: black;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.arrow-closed, .arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}
.arrow-closed {
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow-open {
  top: 14px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}

.progressBarContainer {
  width: 100%; /* Full width of the container */
  max-width: 600px; /* Max width can be the same as the chessboard for consistency */
  padding: 20px; /* Add some space between the chessboard and the progress bar */
}

.passwordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 50px;
}
